.numOneC ul {
    position: relative;
    transform: translate(470px, 20px);
    width: 250px;
    height: 100px;
    list-style-type: none;
    border: 1px solid black;
    line-height: 33px;
}

.numOneC ul li a:hover {
    text-decoration: underline;
}

.numTwoC ul li a:hover {
    text-decoration: underline;
}

.numTwoC ul {
    position: relative;
    transform: translate(770px, -215px);
    width: 250px;
    height: 100px;
    list-style-type: none;
    border: 1px solid black;
    line-height: 33px;
}