@font-face {
    font-family: navBar;
    src: url(fonts/hand.ttf);
}

@keyframes mover {
    0%   {right: -355px; opacity: 50%;}
    100% {right: -15px; opacity: 100%;}
}

body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.searchC {
    position: absolute;
    right: 60px;
    top: 30px;
    cursor: pointer;
}

h1 a {
    position: relative;
    left: 15px;
    color: black;
    text-decoration: none;
}

.searchC img {
    position: absolute;
    width: 20px;
    right: 0px;
    top: 1px;
}

.mainTitleC h2 {
    position: relative;
    left: 37.5%;
}

.navC {
    position: absolute;
    right: 15px;
    top: 26px;
}

.navC input[type="checkbox"] {
    position: relative;
    left: 33px;
    top: 0px;
    width: 24px;
    height: 20px;
    opacity: 0%;
    z-index: 20;
    cursor: pointer;
}

.navC input[type=checkbox] + label{
    display:inline-block;
    background:url("photos/menu.png") no-repeat;
    height: 25px;
    width: 24px;
    z-index: 2;
    transition-duration: 1s;
}

.navC input[type=checkbox]:checked + label {
    position: relative;
    background:url("photos/x.png") no-repeat;
    height: 25px;
    width: 24px;
    display: inline-block;
    z-index: 2;
}

.navC .dropC {
    display: none;
    transition-duration: 1s;
}

.navC .dropC ul {
    position: absolute;
    right: -15px;
    top: -42px;
    width: 300px;
    height: 3029px;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    z-index: 1;
    animation-name: mover;
    animation-duration: 1s;
}

.navC .dropC ul li {
    position: relative;
    right: 15px;
    top: 70px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: navBar;
}

.navC .dropC ul li a {
    display: block;
    width: 300px;
    transition-duration: 0.2s;
}

.navC .dropC ul li a:hover {
    background-color: rgba(139, 139, 139, 0.714);
}

.navC input:checked + label + .dropC {
    display: block;
    z-index: 1;
}

.navC .dropC ul li:nth-child(8) {
    position: relative;
    top: -357px;
    left: -110px;
    font-size: 12px;
}